.vs
.DS_Store
out/
**/*.make
**/*.cmake
**/*.ts
**/*Makefile
**/*.d
**/*.o
**/*.txt
**/*.marks
*cmake*
*make*
*CMake*
*Make*
*lib-*
nfd-*
**/*.pc

obj/
Obj/
**/obj/
**/Obj/

*.obj
*.o
**/*.obj
**/*.o
*.tlog

**/*.vcxproj?*
external/ziplib/Makefile
